body {
    height: 1000px;
}

nav {
    background: url('../../images/header-bg.png') no-repeat center top #f27d00;
    background-size: 1266px;
    height: 54px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
}

label {
    display: block;
    margin-bottom: 12px;
}

.input-group {
    display: block;
    margin-bottom: 32px;
}

.page-title,
.page-subtitle {
    text-align: center;
}

.page-title {
    margin-top: 47px;
}

.page-subtitle {
    margin-top: 15px;
}

h3 {
    margin-bottom: 7px;
}

.content {
    margin-top: 75px;
}

#opportunity-request-form {
    box-sizing: border-box;
    width: 620px;
    padding-right: 80px;
    border-right: 1px solid #e5e5e5;
    float: left;
}

aside {
    float: left;
    width: 160px;
    padding-left: 20px;
}

.clear {
    clear: both;
}

.gradelevel-picker {
    display: block;
    height: 44px;
}

#question-statement textarea {
    height: 118px;
    width: 100%;
}

.input-instructions {
    text-align: right;
    font-size: 13px;
    color: #bbb;
    position: absolute;
    right: 0;
    top: 20px;
}

#additional-materials {
    padding-top: 6px;
}

.label-description {
    margin-top: -5px;
    display: block;
    margin-bottom: 13px;
}

#additional-materials textarea {
    width: 100%;
}

#attachments {
    width: 100%;
    height: 196px;
    margin-top: -15px;
    margin-bottom: 18px;
}

.dropzone {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../../images/attachments-bg.png') no-repeat center center #EFF8F8;
    background-size: 100%;
    border-radius: 8px;
}

#submit-opportunity-btn {
    display: block;
    width: 100%;
    font-size: 21px;
    font-weight: 500;
    font-family: 'museo-sans-rounded', san-serif;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: #2CAEA6;
    text-transform: uppercase;
}
