body {
    height: 1000px;
}

body.algebra {
    background: url('../../images/algebra-subjectlp-bg.png') no-repeat center top #212121;
    background-size: 1265px;
}

body.writing {
    background: url('../../images/writing-subjectlp-bg.png') no-repeat center top #212121;
    background-size: 1265px;
}

#find-me-a-tutor-btn {
    text-decoration: none;
    position: absolute;
    top: 389px;
    left: 479px;
    text-align: center;
    display: block;
    width: 380px;
    font-size: 21px;
    font-weight: 500;
    font-family: 'museo-sans-rounded', san-serif;
    height: 76px;
    line-height: 76px;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: #2CAEA6;
    text-transform: uppercase;
}


#submit-opportunity-btn:hover,
#find-me-a-tutor-btn:hover {
    background-color: #45B7B0;
}

#submit-opportunity-btn:active,
#find-me-a-tutor-btn:active {
    background-color: #269891;
}
